@import '../App.scss';

$layout-breakpoint-small:768px;

form ,.Spinner-wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  font-family: starwars,'Krona One', sans-serif;
  letter-spacing: 2px;
}


input[type="submit"] {
  padding: 5px;
  background-color: yellow;
  color: black;
  border: 1px solid black;
  width: 80px;
  margin-left: 5px;
  cursor: pointer;
}


input[type="submit"]:hover {
  background: rgb(12, 1, 1);
  color: rgb(235, 143, 23);
}


.search > input[type="text"]{
  width: 40%;
  min-width: 170px;
}

@media only screen and (min-width: $layout-breakpoint-small ) {
  .contact-card {
    flex-direction: row;
    max-width: 500px;
    max-height: 125px;
    margin: 20px auto;
  }
}
