@font-face{
  font-family: starwars;
  src: url(./assets/fonts/Starjedi.ttf);
}

.topnav{
  background:black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div .Logo {
 background: url('./assets/img/logo.png') no-repeat center;
  background-size: 120px;
  width: 120px;
  height: 90px;
    /* border: 2px solid; */
  color: pink;

   }
ul{
  display: flex;
font-family: starwars;
color: yellow;
}
li{
  margin: 10px;
  list-style: none;
}
   .Logo img {
     width: 20px;
     height: 20px;
   }