@font-face{
  font-family: starwars;
  src: url(./assets/fonts/Starjedi.ttf);
}
@font-face{
  font-family: starjhol;
  src:url(./assets/fonts/Starjhol.ttf)
}
.footer{
  position: relative;
  top: 20px;
  left: 0;
  bottom: 0;
  width: 100%;
  font-family: starjhol,'Krona One', sans-serif;
}
.topnav{
  background:black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div .Logo {
  font-family: starjhol,'Krona One', sans-serif;
  text-align: center;
  letter-spacing: 2px;
  width: 220px;
  height: 110px;
  border-top: 2px solid; 
  border-bottom: 2px solid; 
  color:yellow;
   }
.nav {
  display: flex;
  flex-direction: column;
  font-family: starjhol,'Krona One', sans-serif;
  letter-spacing: 2px;
  color: yellow;
}
.nav a {
  font-size: 20px;
  margin: 2px;
}
a:link{
  color: blue;
}
p .container{
  font-size: 1rem;
}
a:hover{
  text-decoration: none;
  color: yellow;
}
a:active{
  color: yellow;
}
.Logo img {
  width: 220px;
  height: 80px;
  }
div .button{
  display: flex;
  justify-content: space-around;
  }
.previousButton button{
  font-family: starwars,'Krona One', sans-serif;
  border: none;
  background: rgb(41, 16, 1);
  color:rgb(255, 255, 255);
  padding: 10px;
   }
.nextButton button {
  font-family: starwars,'Krona One', sans-serif;
  letter-spacing: 2px;
  border: none;
  background: rgb(41, 16, 1);
  padding: 10px;
   }
.nextButton button:hover,.previousButton button:hover{
  color: black;
  background: yellow;
   }
  
//desktop view and tab

@media screen and (min-width: 780px) {
  .nav  {
      flex-direction: row;
      font-size: 20px;
      margin: 20px;
        a{
            margin:10px;
          }
        }
}