
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
*{
    box-sizing: border-box;
}
body {
  background: url(./assets/img/hero-banner.jpg);
  // margin-bottom: 80px;
  margin-top: 150px;
  font-family: 'Krona One', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
